<%- include("partials/header"); %>

<form class="form-signin" action="/newsletter-signup" method="POST">
    <img class="mb-4" src="images/email-icon.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Signup to my Newsletter!</h1>

    <input type="text" class="form-control top" name="firstName" placeholder="First Name" required autofocus>
    <input type="text" class="form-control middle" name="lastName" placeholder="Last Name" required>
    <input type="email" class="form-control bottom" name="email" placeholder="Your Email" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
</form>

<%- include("partials/footer"); -%>
